<p>Dear <%= @notification.target.printable_target_name %></p>

<p>
  <strong><%= @notification.notifier.present? ? @notification.notifier.printable_notifier_name : 'Someone' %></strong>
  notified you of
  <%= @notification.notifiable.printable_notifiable_name(@notification.target) %>
  <%= "in #{notification.group.printable_group_name}" if @notification.group.present? %>
</p>

<p><%= link_to "Move to notified #{@notifiable.printable_type.downcase}", move_notification_url_for(@notification, open: true) %></p>

<p>Thank you!</p>
<p><span><%= @notification.created_at.strftime("%b %d %H:%M") %></span></p>
