<div class="notification_wrapper">
  <div class="notification_header">
    <h1>Notifications to <%= @target.printable_target_name %> <%= link_to open_all_notifications_path_for(@target), method: :post, remote: true do %><span class="notification_count"><span class="<%= 'unopened' if @target.has_unopened_notifications? %>"><%= @target.unopened_notification_count %></span></span><% end %></h1>
  </div>
  <%#= link_to "Open all", open_all_notifications_path_for(@target), method: :post %>
  <%#= link_to "Open all (ajax)", open_all_notifications_path_for(@target), method: :post, remote: true %>
  <ul>
    <div class="notifications">
      <%= render_notification @notifications, fallback: :default %>
      <%#= render_notification @notifications, fallback: :text %>
    </div>
  </ul>
</div>

<%#= render_notifications_of @target, fallback: :default, index_content: :with_attributes %>

<style>
  .notification_wrapper .notification_header h1 span span{
    color: #fff;
    background-color: #e5e5e5;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 8px;
  }
  .notification_wrapper .notification_header h1 span span.unopened{
    background-color: #f87880;
  }
</style>
